<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus-Activity-Finder</title>
    <link rel="stylesheet" href="../static/style.css">

    <!--Open Source Leaflet Map Library-->
    <link rel="stylesheet" href="../leaflet/leaflet.css" />
    <script src="../leaflet/leaflet.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>
    <script src="../static/map_script.js"></script>
</body>
</html>